body {
    background-color: #f6f8f5;
}

.header {
    background-color: #1f2937;
}

.header_text {
    font-size: 24px;
    color: #f9faf8;
}

.section1 {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.section2 {
    background-color: #f6f8f5;
}

.button {
    color: #3882f6
}

.section3 {
    background-color: #e5e7eb;
}

.class {
    font: 36px light italic #1f2937;
}

.section4 {
    background-color: #f6f8f5;
}